h2 {
  text-align: center;
  align-items: center;
  margin-top: 5px;
}
h2 button {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.card-body button {
  margin-left: 5px;
align-self: center;
}

.card-body {
align-self: center;
}

.date-filter {
  margin-left:10px
}

.filtre {
  align-items:center;
}