<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="mt-4">
        <form>
          <h2>Edit Todo Details</h2>
          <p>Titre: <input type="text" name="firstName" /></p>
          <p>Statut: <select name="statut" >
            <option value="1" default selected>En cours</option>
            <option value="2">Terminé</option>
            <option value="3">Supprimé</option>
          </select></p>
          <p>Description: <input type="text" name="lastName"/></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateTodo()">Valider</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Annuler</button>
          </p>
        </form>
      </div>

    </div>
  </div>
</div>
